*{
    margin: 0;
    padding: 0;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4vh;
    background-color: rgb(43, 95, 119);
    font-family: 'Times New Roman', Times, serif;
}
.logo{
    color: rgb(241, 246, 255);
    letter-spacing: 2px;
    font-size: 30px;
    cursor: pointer;
    margin-left: 20px;
}
.nav-link{
    display: flex;
    justify-items: space-around;
    width: 30%;
}
.nav-link li {
    list-style: none;
}
.nav-link li a{
    text-decoration: none;
    color: rgb(202, 201, 177);
    padding: 17px;
    font-weight: bold;
    display: block;
    font-size: 22px;
}
.nav-link li a:hover{
    background-color: rgb(37, 85, 55);
    border-radius: 6px;
}
body{
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.login{
    display: inline;
    color: rgb(99, 99, 250);
}
.content{
    text-align: center;
    margin-top: 130px;
    width: 60%;
    overflow: auto;
    margin-left: 400px;
    position: relative;
}
#text{
    font-size: 20px;
    color: rgb(215, 231, 141);
    font-family: fantasy;
}
#text h1{
    margin-bottom: 20px;
}
#text p{
    color: #fff;
}
#discover-btn{
    padding: 10px;
    font-size: 20px;
    border-radius: 6px;
    background-color:rgb(43, 73, 206);
    
    margin-top: 15px;
}
#discover-btn a{
    text-decoration: none;
    color: #fff;
}
#discover-btn:hover{
    background-color: rgb(29, 100, 67);
}
.content2{
    margin-top: 200px;
}
#elephan-img{
    float: right;
}
#elephan-text{
    font-size: 18px;
    color: #fff;
    width: 400px;
    float: right;
    margin-right: 50px;
    margin-top: 70px;
    text-align: center;   
}
